[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = ">=2.10,<2.11"
Django = ">=3.1,<3.2"
Pillow = "*"
wagtailnews = "*"

[dev-packages]

[requires]
python_version = "3.9"
