{%  extends "base.html" %}
{% load static %}
{% load article_extras %}
{%  load wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
{% endblock extra_css %}
{% block extra_js %}
    <script src="https://kit.fontawesome.com/4f7f467e89.js" crossorigin="anonymous"></script>
    <script src="{%  static 'js/theme.js' %}"></script>
{% endblock extra_js %}

{%  block content %}



    <div class=" container" style="margin-top: 90px;">
        {% for post in posts %}
            <div class="row">
                <div class="col-sm-4">
                    {% image post.preview_image fill-250x250 as blog_img %}
                    <img href="{{ post.url }}" src="{{ blog_img.url }}">
                </div>
                <div class="col-sm-8">
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>

                </div>

            </div>


        {% endfor %}


    </div>




{% endblock content  %}