{% extends "base.html" %}
{% load static %}
{% load article_extras %}
{% block body_class %}
    template-homepage{% endblock %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О RusNews</title>
    {% block extra_js %}
    <script src="https://kit.fontawesome.com/4f7f467e89.js" crossorigin="anonymous"></script>
    <script src="{%  static 'js/theme.js' %}"></script>
    {% endblock extra_js %}

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    {% endblock extra_css %}

    <script src="https://kit.fontawesome.com/4f7f467e89.js" crossorigin="anonymous"></script>
</head>

{% block content %}
    <div class="content container">
        <main class="main">
             <article class="article"  style="height:500px;">

                <h1 class="article__title">
                    Контакты:

                </h1>

                <!--img src="images/article-img01.png" alt="" class="article__image"-->
                <p class="article__text">
                  <div align="center"  >
                  <ul style="font-size:20px;" >
                      <style>
                          a {
                              color : #3b5998;
                          }
                      </style>
                    <li>
                    Номер телефона реадакции: <a href="tel:+79055573355" > +79055575533</a>
                    </li>
                    <br>
                    <li>
                    Почта: <a href="mailto:smirusnews@gmail.com" >smirusnews@gmail.com</a>
                    </li>
                  </ul>
                  </div>
                </p>

            </article>
        </main>

    </div>
    <div class="container">


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{%  static 'js/script.min.js' %}"></script>


{% endblock content %}

</html>